@font-face{
	font-family: Raleway;
	src: url(../font/Raleway-Bold.woff);

	}
	@font-face{
	font-family: Raleway Regular;
	src: url(../font/Raleway-Regular.woff);

	}
body{
		width: 100%;
		margin: 0 auto;
		font-family: Raleway Regular;
		font-size: 15px;
	}

header{
	width: 100%;
	display: inline-block;
	background-color: #1C1C1C;
	padding: 0.5%;
	font-family: Raleway;
}
.logo{
	color: #FFFFFF;
	font-size: 2em;
	
	padding-left: 2%;
	width: 80%;
	display: inline-block;
}
header span{
	
	font-size: 1.3em;
}
.log{
	display: inline-block;
	text-align: center;
	width: 6%;
	font-size: 1.2em;
}
header a{
	text-decoration: none;
	color: #9C9C9C;	
}


.logbox{
	margin: 5% auto;
	width: 50%;
	text-align: center;
	height: 400px;
	box-shadow: 2px 2px 10px 5px #9C9C9C;

}
.logtop{
	
	font-weight: normal;
	font-size: 2em;
	padding: 3%;
	color: #2B2B2B;
}
.input{
	padding: 0.5%;
	width: 50%;
	border: none;
	border-bottom: 2px solid #D7D7D7;
	font-size: 1.5em;
	margin-top: 2%;
	font-family: Raleway Regular;
	font-weight: normal;

}
.loginsubmit{
	background-color: #F35950;
	padding: 1.5%;
	margin-top: 5%;
	color: #FFFFFF;
	margin-bottom: 1%;
	width: 50%;
	font-size: 1.5em;
    cursor: pointer;
	
}

.lastlog{
	width: 50%; 
	margin: 1% auto;
	text-align: left;
	font-size: 1em;
	color: #9C9C9C;
	margin-bottom: 2%;

}

.forgot{
float: right;
color: #9C9C9C;
}

footer{
	background-color: #1C1C1C;
	width: 100%;
	color: #9C9C9C;
	font-size: 1.2em;
	padding: 0;
	
	display: inline-block;
}
.copy{
	width: 60%;
	display: inline-block;
	padding-left: 1%;
}
#login-error {
    color: red;
    margin-top: 25px;
    width: 75%;
    display: block;
    font-size: 1.5em;
    margin-left: 110px;
}

footer ul{
	display: inline-block;
	text-align: right;
	width: 32%;

}
footer li{
display: inline-block;
padding-left: 5%;
}
footer a{
	color: #9C9C9C;
	text-decoration: none;
}
footer a:hover {
	color: #FFFFFF;
}
.line{
	width: 20%; 
	display: inline-block;
}
.linetext{
	width: 10%; 
	display: inline-block;
	font-size: 2em;
	color: #9C9C9C;
}
.form img{
	margin: 2%;
	padding: 2%;
}
.signbox{
	margin: 5% auto;
	width: 50%;
	text-align: center;
	
	
	 box-shadow: 2px 2px 10px 5px #9C9C9C;

}
.signtop{
	font-weight: normal;
	font-size: 2em;
	padding: 4%;
	color: #2B2B2B;
}
.signsubmit{
	background-color: #F35950;
	padding: 1.5%;
	margin-top: 5%;
	color: #FFFFFF;
	margin-bottom: 2%;
	width: 50%;
	font-size: 1.5em;
    cursor: pointer;
}
