@font-face {
	font-family: tw-cen-mt REGULAR;
	src: url(../font/ufonts.com_tw-cen-mt.woff);
}


@font-face{
	font-family: Sandhya;
	src: url(../font/Sandhya.woff);
	font-weight: normal;
}


body{
	width: 100%;
	margin:0 auto;
	font-size: 20px;
}


a{
    color: #ccb312;
    text-decoration: none;
}


p {
    font-family: tw-cen-mt REGULAR;
    font-size: 1.2em;
    color: #a2a2a2;
    text-align: justify-all;
}

.menu-box{
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
}


.headermenu{
    background-image: url("../img/header.png");
    position: fixed;
    width: 100%;
    top: 0;
    vertical-align: middle;
    display: none;
    z-index: 1;
    color: #b39d0d;
    padding: 1%;
    display: none;
    font-size: 1.2em;
}


.headermenu div{
    display: inline-block;
    width: 32.5%;
}


.headermenu img{
    width: 4%;
    margin-right: 2%;
}

.menuicon img {
    margin-right: 1%;
}

#displaybox > a {
	font-size: 5vh;
	font-family: Sandhya;
	letter-spacing: 0.05em;
	padding-bottom: 0;
	text-decoration: none;
}

#displaybox {
	z-index: 10000;
	background-image: url('../img/1stbg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: right;
	vertical-align: middle;
	display: none;
	opacity: 0.95;
}

#displaybox img{
    width: 15px;
    height: 15px;
}

#displaybox .close1 > a{
    color: #b39d0d;
    font-size: 2em;
    text-align: right;
    padding-right: 4%;
    padding-top: 2%;
}
    
#displaybox > a:hover{
    text-decoration:none;
    color: #b39d0d;
}

#displaybox > a:focus{

    text-decoration:none;
    color: #b39d0d;
}

#displaybox > a:active {
    text-decoration:none;
    color: #b39d0d;
}

#displaybox img{
    padding: 2%;
}


.box{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: tw-cen-mt REGULAR;
    margin-top: 20px;
}

.box:hover{
    text-decoration: none;
}


.d{
    text-align: center;
    font-size: 2.5vh;
    font-family: tw-cen-mt REGULAR;
    padding: 0.4vh;
}

.d a{
    color: #FFFFFF;
    text-decoration: none;
}

.d a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.d a:focus{
    color: #FFFFFF;
    text-decoration: none;
}

.d p{
    padding: 0.1%;
}


.topcenter{
    clear: left;
    width: 100%;
    background-image: url("../img/1stbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 0;
    height: 100vh;
}
.top-logo{
	width:75px;
	margin-right:5px
}


.menuicon {
    text-align: left;
    padding: 1%;
}

.menutext{
    display: inline-block;
    font-family: tw-cen-mt REGULAR; 
    font-size: 1.2em
}

.centerlogo{
    padding-top: 1%;
    width: 300px;
}


.centerhead{
    width: 100%;
}

.hding{
    font-size: 2.5vh;
    padding-top: 2vh;
	font-family: tw-cen-mt REGULAR;
    color: #fff;
    letter-spacing: 0.4em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 75px;
}

.subhding {
    margin-top: 5px;
    font-family: Sandhya;
    color: #ceb306;
    text-align: center;
    padding-top: 0;
    letter-spacing: 0.2em;
    font-size: 4.5vh;
}

    
#headerscroll {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    padding-bottom: 1%;
    text-align: center;
    font-family:  tw-cen-mt REGULAR;
}

.content{
    padding-left: 0px;
    padding-right: 0px;
}

.content-header{
	text-align: center;
}

.ch-first{
	font-size: 3em;
	font-family: Sandhya;
	color: #b39d0d;
	margin-top: 10%;
    margin-bottom: 0%;
	letter-spacing: 0.2em;
}

.ch-second{
	font-size: 4.5vh;
    font-family: tw-cen-mt REGULAR;
    color: #3b5393;
    letter-spacing: 0.4em;
    margin-top: 0;
    padding-top: 0;
}


/* --------------------------------------------------------------image slider client ------------------------------------------------------------------*/


.slider ul li{
	display: inline-block;
	padding-right: 5%;
}

.slider{
	margin: 5% auto;
}

.gallery_1{
	width: 95%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	text-align: center;
	margin-bottom: 5%;
}
 
.slider_1{
	margin-left: 4%;
	width:90%;
	height:100%;
}

.slider_1 ul{
    width:10000px;
    list-style:none;
}

.slider_1 li{
    float:left;
    padding: 0.5%;
    margin-left: 0;
}

.button{
	display: inline;
	position: relative;
}

.prev{
	float: left;
	clear: left;
	margin-top: 100px;
}

.next{
	float: right;
	clear: right;
	margin-top: 100px;
}

.clearout {
	height:20px;
	clear:both;
}

#flexiselDemo3 {
	display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:80%;
    margin: auto;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
	overflow:hidden;
	width: 100%;
    margin-top: 5%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
}

.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    padding-right: 2%;
}

.info{
    color: #b39d0d;
    font-family: tw-cen-mt REGULAR;
    font-size: 1.5em;
    border: 2px solid #b39d0d;
    border-top: 0px;
    margin-top: -5px;
    padding-top: 10%;
    padding-left: 5px;
    padding-right: 5px;
    height: 130px;
    position:relative;
}

.info div{
    color: #FFFFFF;
    background-color: #b39d0d;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.showimage {
    width: 20vw;
    display: inline-block;
    margin: 2%;
    
}
#gallery-img{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    height:250px;
    background-position: -167px 0px;
    background-size: 550px;
    background-repeat: no-repeat;
}

.showimage a {
    color: #FFFFFF;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 32px;
    height: 32px;
    margin-left: -60px;
    margin-right: -60px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../img/left-arrow.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../img/right-arrow.png) no-repeat;
}

/**************************************************** Image Slider Css End ***********************************/


.content-about {
	background-image: url('../img/about-mangus-bg.png');
	background-repeat:repeat;
	background-size: 100%;
}

.divide{
    width: 47%;
    display: inline-block;
    padding: 1%;
    margin-bottom: 10%;
}

.divide p{
    text-align: justify;
    font-size: 1.2em;
    font-family: tw-cen-mt REGULAR;
    color: #a2a2a2;
}

.about {
    margin-top: 25%;
    width: 90%;
    padding-left: 5%;
    margin-left: 5%;
}

.ab {
    font-size: 3em;
    font-family: Sandhya;
    letter-spacing: 0.2em;
    color: #b39d0d;
    text-align: right;
}

.m {
    font-size: 25px;
    color: #3b5393;
    font-family: tw-cen-mt REGULAR;
    text-align: right;
}

.team{
    width: 90%;
    padding-left: 5%;
}


.content-footer {
	clear:left;
	background-image: url('../img/2nd_bg.png');
	padding-right: 30px;
	text-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.footer-fi{
    padding-top: 10%;
    margin-bottom: 0;
    font-size: 1.5em;
    padding-left: 11%;
    font-family: tw-cen-mt REGULAR;
    color: #fff;
    letter-spacing: 0.4em;
}

.footer-se{    
	font-size: 4em;
    font-family: Sandhya;
    letter-spacing: 6px;
    color: #b39d0d;
    margin-top: -1%;
    margin-left: 5%;
}

.footer-p{
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
    width: 100%;
    padding-bottom: 10%;
    font-family: tw-cen-mt REGULAR;

}

.seperate{
	width: 47%;
	display: inline-block;
	padding: 1%;
}

.fadetext{
    font-size: 1.2em;
    font-family: tw-cen-mt REGULAR;
    opacity: 0.32;
    -moz-opacity: .68;
    color: #fff;
    letter-spacing: 0.5em;

}

.fi{
    text-align: left;
    position: relative;
}

.se{
    position: relative;
    /* text-align: right; */
}

.th{
    text-align: left;
    position: relative;
}

.last{
    background-color: #F2EFD8;
    text-align: center;
    padding: 2%;
}

.h {
    font-size: 3.5em;
    font-family: Sandhya;
    letter-spacing: 0.15em;
    border-bottom: 1px solid #ccb312;
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    color: #ccb312;
    padding-bottom: 20px;
}

.h img{
	margin-right:20px;
    width: 75px;
}

.g {
    font-family: tw-cen-mt REGULAR;
    font-size: 0.5em;
    margin-left: 3%;
}

.lastone {
    margin-top: 0;
    text-align: center;
}

.lastone1 {
    font-family: tw-cen-mt REGULAR;
    text-align: center;
    width: 26%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #b39d0d;
    border-bottom: 1px solid #b39d0d;
    padding: 1%;
}
.copyright{
    text-align: center;
}
.copyright p {
    width: 30%;
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    color: #ccb312;
    padding: 1%;
}
.trademark{
    color: #ff7d28 !important;
}

.trademark a{
    color: #ff7d28 !important;
}

#header-arrow{
	background-color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#header-arrow img{
	width:20px;
}

#header-arrow img {
    width: 30px;
    position: relative;
    top: -4px;
}
@media only screen and (max-width: 600px){
.copyright p {
    width: 90%;
    margin: auto;
}
}
@media only screen and (max-width: 1500px){
	

	#displaybox img {
		width: 12px;
		height: 12px;
	}

	.d {
		font-size: 3vh;
	}
	
	.centerlogo {
		width: 275px;
	}
	
	.hding {
 	   margin-top: 60px;
	}
	
	#gallery-img {
   		height: 230px;
	}
	
	.mainview {
		width: 90%;
		height: 25vh;
    }
    .demo{
		width: 90%;
		height: 25vh;
    }
    
    #headerscroll {
    	height: 40px;
    }
    
    .imagebox ul li {
 	   
	}
	
	.imagebox ul li img {
 	   height: 93%;
	}
	.hnote {
 		padding: 1.5%;
	}
	
	.h{
		font-size: 2.8em;
    	padding-bottom: 15px;
	}
	
	.h img {
		margin-right: 15px;
		width: 60px;
	}
	
	.lastone1 {
		font-size:1em;
	}
	
	.copyright p {
    	font-size: 1em;
    }
}

@media only screen and (min-width: 2000px){
body {
    font-size: 1.2vw;
}
.menuicon img{
	width: 35px;
}
#header-arrow img {
    width: 60px;
    }
}

@media only screen and (max-width: 1200px){

	body{
		font-size:15px;
	}
	
	#gallery-img {
		height: 200px;
		background-size: 500px;
	}
	
	.info{
		font-size:1.4em;
	}

	.top-logo {
    width: 40px;
}
	
	.footer-fi {
    	font-size: 1.3em;
	}
	
	.footer-se {
	    font-size: 3.5em;
	}
	
	.h {
	    font-size: 2.8em;
	    padding-bottom: 12px;
	}
	
	.lastone1 {
	    font-size: 1em;
	}
	
	.h img{
		width: 45px;
		margin-right: 12px;
	}
	
	#headerscroll {
		height: 35px;
	}
	
	.demo, .mainview {
		margin-top: 20px;
	}
	
	.top-logo {
		width: 55px;
	}
	
	.imagebox ul li {
 	  
	}
	
	.imagebox ul li img {
 	   height: 93%;
	}
	
		
	#header-arrow img {
		top: 0;
	}

}

@media only screen and (max-width: 1000px){
	
	.centerlogo {
		width: 250px;
	}
	
	#displaybox img {
		width: 10px;
		height: 10px;
	}
	
	#gallery-img {
		height: 170px;
		background-size: 400px;
	}
		.top-logo {
    width: 35px;
}
	.info {
		font-size: 1.3em;
		height:90px;
	}
	
	.headermenu img{
    	width: 7%;    			
	}
	
	.fadetext {
    	font-size: 1em;
    }
    
    .hnote {
 		padding: 2%;
 		font-size:1.2em;
	}
    	

	
	.top-logo {
		width: 50px;
	}
	
	.imagebox ul li {
 	  
	}
	
	.imagebox ul li img {
 	    height: 92%;
	}
	
	.h img {
		width: 38px;
		margin-right: 10px;
	}
	
	.h {
    	font-size: 2.4em;
    	padding-bottom: 10px;
    }
    
    .lastone1 {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 768px){
	
	body{
		font-size:12px;
	}
	
	
	.centerlogo {
		width: 225px;
	}
	.menutext {
    font-size: 1.6em;
}
	
	#displaybox img {
		width: 9px;
		height: 9px;
	}
		.top-logo {
    width: 30px;
}
	
	.showimage {
    	width: 25vw;
    }
    
    .footer-fi {
    	font-size: 1.2em;
	}
	
	.footer-se {
	    font-size: 3.2em;
	}
	
	.h {
	    font-size: 2.4em;
	    padding-bottom:8px;
	}
	
	.lastone1 {
	    font-size: .8em;
	}
	
	.h img{
		width: 35px;
		margin-right:8px;
	}
	
	.subhding {
		font-size: 5.5vh;
	}
	
	#displaybox > a {
	    font-size: 5.5vh;
	}
	
	.box {
		margin-top: 10px;
	}
	
	.d {
		font-size: 3.5vh;
	}
	
	.ch-first {
   		margin-top: 8%;
    }
    
    .showimage {
		width: 28vw;
	}
	
	.info{
		height: 75px;
	}
	
	.hnote {
		font-size: 1.4em;
		padding: 2.2%;
	}
	
	h2 {
		padding-top: 5%;
    	font-size: 2em;
	}
	
	#headerscroll {
		height: 30px;
	}
	
	.dimg img{
		width:20px;
	}
	
	
	
	.top-logo {
		width: 35px;
	}
	
	.imagebox ul li {
 		width:23%;
 		
	    margin: 0.4%;
	}
	
	.imagebox ul li img {
		height: 92%;
	}
}

@media only screen and (max-width: 650px) {

	#gallery-img{
    height:250px;
    background-position: -100px 0px;
    background-size: 350px;
}
	
	.centerlogo {
		width: 200px;
	}
	
	.m {
    	font-size: 18px;
    }
    
    .info {
		height: 70px;
		padding-top: 15%;
	}
	
	#gallery-img {
		height: 140px;
		background-size: 350px;

	}
	
	.footer-fi {
		font-size: 1.2em;
	}
	
	.footer-se {
		font-size: 3em;
	}
	
	.h {
	    font-size: 2.2em;
	}
	
	.lastone1 {
	    font-size: 0.8em;
	}
	
	.h img{
		width: 35px;
	}
	

}


@media only screen and (max-height: 600px) {
	.hding {
 	   margin-top: 45px;
	}
	
	.box {
		margin-top: 15px;
	}
}

@media only screen and (max-height: 500px) {
	.hding {
 	   margin-top: 30px
	}
	
	.box {
		margin-top: 13px;
	}
	
	.imagebox ul li {
    width: 28%;
    
}
}

@media only screen and (max-height: 400px) {
	.centerlogo {
		width: 170px;
	}
	
	.subhding {
		font-size: 5vh;
	}
	
	.hding {
		margin-top: 20px;
	}
}


@media only screen and (min-device-width: 600px) 
  and (max-device-width: 768px) 
  and (orientation: portrait){
  
	.d {
		font-size: 2.5vh;
	}

	#displaybox > a {
		font-size: 4.5vh;
	}
	
	.box {
		margin-top: 25px;
	}
	
	.hding {
    	font-size: 2vh;
    }
    
    .subhding {
		font-size: 4.5vh;
	}
	
	.ch-second {
    	font-size: 3.5vh;
    }
    
    .lastone1{
    	font-size: .8em;
    }
    
    .hnote {
    	font-size: 1.8em;
    }
    
    header img {
	    margin-top: 1.5%;
	}
	
	.top-logo {
		width: 60px;
	}
	
	h2 {
		padding-top: 5%;
		font-size: 3em;
	}
	
	.subheading {
 	   margin-top: 2.5%;
	}
	
	.demo, .mainview {
   		margin-top: 30px;
	}
	
	#headerscroll {
		height: 50px;
	}

}

@media only screen 
  and (min-device-width: 768px) 
  and (orientation: portrait){
	#headerscroll {
		height: 60px;
	}
}

@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 600px) 
  and (orientation: portrait){
  

	.d {
		font-size: 2.5vh;
	}
	
	#displaybox > a {
		font-size: 4.5vh;
	}
	
	.box {
		margin-top: 25px;
	}
	
	.hding {
		font-size: 2vh;
	}
	
	.subhding {
		font-size: 4.5vh;
	}
	
	.headermenu {
		height: 6%;
		font-size: 1.5em;
	}
	
	.headermenu div {
 	   margin-top: 2%;
       width: 31.5%;
	}
	
	.headermenu img {
		width: 8%;
	}
	
	.ch-second {
    	font-size: 3vh;
    }
    
    .nbs-flexisel-nav-left {
    	margin-left: -50px;
    }
    
    .showimage {
		width: 32vw;
	}
	
	.m {
    	font-size: 18px;
    }
	
	.h img {
		width: 30px;
	}
    
    .lastone1 {
		font-size: 0.8em;
	}
	
	.hnote {
		font-size: 1.5em;
		padding: 3.2%;
	}
	
	header img {
		margin-top: 2%;
	}
	
	
    
    .top-logo {
		width: 40px;
	}
	
	.subheading {
		letter-spacing: 0.2em;
		margin-top: 4.5%;
    }
    
   
	
	#headerscroll {
		height: 45px;
	}
	
	.imagebox ul li {
		width: 30%;
		margin: 0.5%;
	}
	
	.content-div {
	    margin-top: 25px;
	}
	
	footer p {
		padding-top: 4%;
		font-size: 1.5em;
    }
    
}

/* Portrait */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 480px) 
  and (orientation: portrait){
  
	body {
		font-size: 11px;
	}
  
  	.subhding {
    	font-size: 3.5vh;
	}
	
	#displaybox > a {
		font-size: 4vh;
	}
	.top-logo {
    width: 30px;
}
	
	.d {
		font-size: 2.5vh;
	}
	
	.box {
		margin-top: 25px;
	}
	
	#tweet{
		margin-right:15px;
	}
	
	.headermenu {
		font-size: 1.5em;
	}
	
	.headermenu img {
		width: 10%;
	}

	
	.nbs-flexisel-container {
    	max-width: 70%;
 	}
 	
 	.showimage {
		width: 45vw;
	}	

	.ch-second {
		font-size: 2.5vh;
	}
	
	.h{
		width:50%;
    	font-size: 2.4em;
	}
	
	.lastone1 {
    	width: 48%;
   	    font-size: .9em;
    }
    
    .h img {
   		width: 30px;
	}
	
	.hnote {
		font-size: 1em;
		padding: 3%;
	}
	

	
	.top-logo {
		width: 40px;
		margin-right: 5px;
	}
	
    .subheading {
		letter-spacing: 0.1em;
		margin-top: 3.5%;
    }
    
    .imagebox ul li {
		width: 28%;
		margin: 1.4%;
	}
	
	.imagebox ul li img {
		height: 93%;
	}
	
	footer p {
		padding-top: 4%;
		font-size: 1.2em;
    }
			
	#headerscroll {
		height: 40px;
	}
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 360px) 
  and (orientation: portrait){
  
  	body {
		font-size: 11px;
	}
  
	.centerlogo {
		width: 200px;
	}

	#tweet{
		margin-right:15px;
	}
	
	.headermenu {
		height: 8%;
		font-size: 1.5em;
	}
	
	.headermenu img {
		width: 15%;
	}
	
	.headermenu div {
 	   margin-top: 4%;
       width: 31.5%;
	}
	 
	.hding {
	    font-size: 2vh;
	}
	
	.subhding {
		font-size: 4vh;
	}
	
	.ch-second {
		font-size: 2.5vh;
	}
	
	.nbs-flexisel-container {
    	max-width: 65%;
 	}
 	
 	.showimage {
		width: 50vw;
	}	
	
	#gallery-img {
		height: 150px;
	}
	
	.info{
		margin-top:-4px;
		height: 70px;
	}
	
	.h{
		width: 50%;
    	font-size: 2em;
	}
	
	.h img {
		width: 30px;
	}
	
	.copyright p {
    	font-size: 1em;
    }
    
    	
	.lastone1 {
    	width: 48%;
   	    font-size: 0.8em;
    }
    
    #displaybox > a {
		font-size: 4vh;
	}
	
	.box {
		margin-top: 25px;
	}
	
	.d {
		font-size: 2.5vh;
	}
		
	.hnote {
    	font-size: 1em;
    	padding: 3.2%;
    }
    
    .demo, .mainview {
		width: 275px;
		height: 150px;
    }
    
    header img { 
   		width: 15px;
		margin-left: 5px;
		padding:0;
	    margin-top: 8px;
	}
	
	.subheading {
		font-size: 1.2em;
		margin-top: 3.5%;
		margin-bottom: 0%;
	    letter-spacing: 0.1em;
	}
.imagebox ul li {
    width: 28%;

}
  	.content-div {
		margin-top: 5%;			
	    padding-bottom: 5%;
	}

	footer p {
		padding-top: 4%;
		font-size: 1em;
	}

}


@media only screen 
  and (max-device-width: 300px) 
  and (orientation: portrait){
  
	.d {
		font-size: 2.5vh;
	}

	#displaybox > a {
		font-size: 4.5vh;
	}
	
	.box {
		margin-top: 25px;
	}
	
	.hding {
    	font-size: 2vh;
    }
    
    .subhding {
		font-size: 4.5vh;
	}
	
	.ch-second {
    	font-size: 3.5vh;
    }
    
    .h{
    	width:50%;
    }
    
    .lastone1{
    	font-size: 1.1em;
   	    width: 48%;
    }
}




