@font-face {
    font-family: tw-cen-mt REGULAR;
    src: url(../font/ufonts.com_tw-cen-mt.woff);
}

@font-face{
	font-family: Sandhya;
	src: url(../font/Sandhya.woff);
	font-weight: normal;
}

body
{
    width: 100%;
    margin:0 auto;
    font-size: 20px;
}
header
{
    background-image: url("../img/header.png");
    position: fixed;
    width: 100%;
    top: 0;
    vertical-align: middle;
    z-index: 1;
}
header img{
    vertical-align: middle;
    text-align: left;
    padding: 1.2%;
    float: left;
}


.menu-box{
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
}

#displaybox 
{
    z-index: 10000;
    background-image: url('../img/1stbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: right;
    vertical-align: middle;
    display: none;
    opacity: 0.95;
}

#displaybox > a 
{
   
    font-size: 6vh;
    font-family: Sandhya;
    letter-spacing: 0.05em;
    color: #b39d0d;
    padding-top: 1vh;
}

.box1
{ 
    font-size: 2.5em;  
    display: block;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    font-family: Sandhya;
    letter-spacing: 0.1em;
}

.d{
    text-align: center;
    font-size: 1.2em;
    font-family: tw-cen-mt REGULAR;
    padding: 0.4vh;
  
    letter-spacing: 0.2em;
}
.close{
    text-align: right;
}
#displaybox .close1 > a{
    color: #b39d0d;
    font-size: 2em;
    text-align: right;
    padding-right: 4%;
    padding-top: 2%;
}

    
#displaybox > a:hover 
{
    text-decoration:none;
    color: #b39d0d;
}
#displaybox > a:focus 
{
    text-decoration:none;
    color: #b39d0d;
}
#displaybox > a:active 
{
    text-decoration:none;
    color: #b39d0d;
}

.d a{
    color: #FFFFFF;
    text-decoration: none;
}
.d a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.d a:focus{
    color: #FFFFFF;
    text-decoration: none;
}
.d p{
    padding: 0.1%;
}


.header{
    width: 33%;
    display: inline-block;
}

#page {
    max-width: 500px;
    padding: 1em;
}

.headermenu
{
    background-image: url("../img/header.png");
    position: fixed;
    width: 100%;
    top: 0;
    vertical-align: middle;
    display: none;
    z-index: 1;
    color: #b39d0d;
    padding: 1%;
    display: none;
    font-size: 1.2em;
}

.headermenu div
{
    display: inline-block;
    width: 32.5%;
}

.headermenu img
{
    width: 5%;
    margin-right: 2%;
}

.hnote{
    vertical-align: middle;
    font-size: 1em;
    color: #ccb312;
    text-align: center;
    font-family: tw-cen-mt REGULAR;
    padding: 1.2%;
}


.menuicon{
    text-align: left;
    padding: 1%;
}

#menu{
    padding: 1%;
}
h2{
    font-size: 2.2em;
    color: #ceb306;
    font-family: Sandhya;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 3%;
    font-weight: normal;
    margin-bottom: 0;
}

.topcenter{
    clear: left;
    width: 100%;
    background-image: url("../img/1stbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin-bottom: 0;
    height: 100%;
}

.centerhead{
    width: 100%;
    height: 20%;
    position: absolute;
     padding-top: 2%;
}

.scrolldown
{
    font-size: 1em;
    color: #FFFFFF; 
    text-align: center;
    letter-spacing: 0.4em;
    font-family: tw-cen-mt REGULAR;
    padding-bottom: 1%;
    margin-bottom: 0;
    margin-top: auto;
    }

#headerscroll {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    padding-bottom: 1%;
    text-align: center;
    font-family:  tw-cen-mt REGULAR;
}

.dimg{
    text-align: center;
    width: 100%;
    height: 4%;
    position: absolute;
    bottom: 0;
    padding-top: 0;
}

.dmenu{
    background-color: #FCFCF4;
}

img{
    vertical-align: middle;
}

.subheading{
    color: #3257b7;
    font-size: 1.2em;
    font-family: tw-cen-mt REGULAR;
    text-align: center;
    letter-spacing: 0.4em;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.cimg{
    
    margin: 0 auto;
    border: 2px solid #ccb312;
    width: 60%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 1%;
    padding: 1%;
}

.demo {
	position: relative;
	width: 1200px;
	height: 600px;
  	margin: 0 auto;
	border: 2px solid #ccb312;
	text-align: center;
}

.demo li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position:0px;
}

.load {
  line-height: 270px;
  text-align: center;
}


.scrolldown{
  font-size: 0.5em;
    color: #ccb312;
    text-align: center;   
}

.imagebox ul{
    padding: 2%;
    text-align: left;
    margin-left: 2%;
}

.imagebox ul li{
    list-style: none;
    border: 2px solid #ccb312;
    display: inline-block;
    width: 18%;
    margin: 0.3%;
	height:200px;
}

.imagebox ul li img {
    padding: 2%;
    width: 95%;
    height:188px;
}

.description{
    display: block;
    width: 60%;
}

.desccontent{
    font-family: tw-cen-mt REGULAR;
    font-size: 1.4em;
    color: #A7A9AC;
    width: 70%;
    padding-right: 3%;
    text-align: justify;
}

.scrollbar{
width:100%;
max-height:600px;
background-color: #FDFBF2;
overflow-y:scroll;
    margin-left: 7%;
}

.desc{
    font-family: tw-cen-mt REGULAR;
    font-size: 1.4em;
    color: #3257b7;
    letter-spacing: 0.2em;
    padding: 1%;
    padding-left: 3%;
    display: inline-block;
    margin-left: 4%;
    margin-top: 0;
    }

.features{
    display: block;
    width: 20%;
    margin-left: 12%;
}

.featurecontent{

    margin-top: 5%;
    font-family: Sandhya;
    font-size: 2em;
    color: #3257b7;
    letter-spacing: 0.1em;
} 

.z{
    font-family: tw-cen-mt REGULAR;
    font-size: 1.2em;
    border-bottom: 1px solid #ccb312;
    color: #939798;
    margin-top: 10px;
    padding-bottom: 10px;
}

.y{
    font-size: 1.2em;
    margin-top: 0.5%;
    font-family: tw-cen-mt REGULAR;
    color: #939798;
    }

#scroll::-webkit-scrollbar{
width:20px;
background-image: url('../img/1.png');
background-size: 80%;
height: 100px;
}

#scroll::-webkit-scrollbar-thumb{
background-image: url('../img/slider-icon.png');
background-repeat: no-repeat;
background-position: center;
}

footer{
    background-image: url("../img/header.png");
    height: 5%;
    margin-top: 5%;
}

footer p {
    font-family: tw-cen-mt REGULAR;
    color: white;
    text-align: center;
    padding-top: 2%;
    font-size: 1.5em;
    margin-top: 0;
}



.last{

    background-color: #F2EFD8;
    text-align: center;
    padding: 2%;

}

.last p{
    font-size: 5em;
    font-family: tw-cen-mt REGULAR;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #ccb312;
    width: 30%;
    margin: 0 auto;
}

.h{
    margin-top: 2%;
    font-size: 3.5em;
    font-family: Sandhya;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #ccb312;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    color: #ccb312;
}

.g{
    font-family: tw-cen-mt REGULAR;
    font-size: 0.5em;
    margin-left: 2%;
}


a{
    color: #ccb312;
    text-decoration: none;
}

.lastone{
    margin-top: 0;
    text-align: center;
}

.last {
    background-color: #F0EBCD;
    text-align: center;
   
}

.last p >a 
{
         font-size: 16px;
    font-family: tw-cen-mt REGULAR;

    color: #b39d0d;
    text-decoration: none;   
}
.last p >a:hover 
{
         font-size: 16px;
    font-family: tw-cen-mt REGULAR;

    color: #b39d0d;
    text-decoration: none;   
}
.last p >a:active 
{
         font-size: 16px;
    font-family: tw-cen-mt REGULAR;
  
    color: #b39d0d;
    text-decoration: none;   
}
.last p >a:focus 
{
         font-size: 16px;
    font-family: tw-cen-mt REGULAR;

    color: #b39d0d;
    text-decoration: none;   
}

.copyright p{
    font-size: 1.2em;
    text-align: center;
    color: #ccb312;
    padding: 1%;
}

.lastone1{
    font-family: tw-cen-mt REGULAR;

    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #b39d0d;
    border-bottom: 1px solid #b39d0d;
    padding: 1%;
}

/********************************************************************************Media Queries ****************************************************************************************/
@media screen and (max-width: 1500px) {
   .demo {
		width: 800px;
    	height:400px;
	}
	.demo li{
		width: 800px;
	}
	.subheading {
    letter-spacing: 0.2em;
}
.imagebox ul li {
    width: 16%;
    height: 150px;
}
.imagebox ul li img {
    padding: 4%;
    width: 92%;
    height: 135px;
}
}

@media only screen and (max-width: 500px){
    header {
    background-image: url("../img/header.png");
    width: 100%;
    top: 0;
}
#menu {
    padding: 4%;
}
.hnote {
    padding-top: 10px;
        font-size: 3.5vw;
    padding-bottom: 10px;
}
h2 {
    font-size: 1.5em;
    padding-top: 0%;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
h2 img {
    display: block;
    margin: auto;
}
.subheading {
    font-size: 3.5vw;
}
.demo {
    width: 90%;
    height: 50vw;
    margin: 0 auto;
    margin-top: 20px;
}
.dmenu {
    background-color: #FCFCF4;
    text-align: center;
    margin-top: 50px;
}
#headerscroll {
    height: 40px;
        font-size: 0.8em;
}
.views {
    font-size: 1em;
}
.imagebox ul {
    text-align: center;
    margin-left: 0;
}
.imagebox ul li {

    width: 326px;
    margin: 2% auto;
    height: 215px;
}
.imagebox ul li img {
    padding: 2%;
    width: 310px;
    height: 200px;
}
.contact-div{
    width: 100%;
    display: block;
}
.description {
    display: block;
    width: 90%;
}
.features {
    display: block;
    width: 200px;
    margin-left: 25px;
    margin-top: 30px;
}
.desc {
    font-size: 1em;
}
.scrollbar {
    max-height: 250px;
    margin-left: 5%;
}
.desccontent {
    font-size: 1em;
}
.featurecontent {
    font-size: 1.5em;
}
.z {
    font-family: tw-cen-mt REGULAR;
    font-size: 1em;
}
.y {
    font-size: 1em;
}
footer p {
    font-size: 0.8em;
}
.h {
    margin-top: 2%;
    font-size: 2.5em;
    font-family: Sandhya;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #ccb312;
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}
.lastone1{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 1em;
    color: #b39d0d;
    border-bottom: 1px solid #b39d0d;
    padding: 1%;
}
}

@media only screen and (max-width: 400px){
.h {
    margin-top: 2%;
    font-size: 2.5em;
    font-family: Sandhya;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #ccb312;
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}
.lastone1{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 1em;
    color: #b39d0d;
    border-bottom: 1px solid #b39d0d;
    padding: 1%;
}
}

@media only screen and (min-width: 700px){
    .h {
    margin-top: 2%;
    font-size: 3.5em;
    font-family: Sandhya;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #ccb312;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}
.lastone1{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    font-size: 1.5em;
    color: #b39d0d;
    border-bottom: 1px solid #b39d0d;
    padding: 1%;
}
}

@media only screen and (max-width: 1200px){

.demo {
    width: 600px;
    height: 340px;
 } 
 .demo li {
       width: 600px; 
}
.imagebox ul li {
    width: 220px;
    height: 120px;
    }
    footer p {
    font-size: 1.2em;
}

}
