@font-face{
	font-family: Raleway;
	src: url(../font/Raleway-Bold.woff);

	}
	@font-face{
	font-family: Lato;
	src: url(../font/Lato-Regular.woff);

	}
body{
		width: 100%;
		margin: 0 auto;
		font-family: Lato;
		font-size: 1.2vw;
		height: 100%;
		color: #9C9C9C;
	}

header{
	width: 99%;
	display: inline-block;
	background-color: #1C1C1C;
	font-family: Raleway;
	padding-bottom: 1%;
}
.logo{
	color: #FFFFFF;
	font-size: 2em;
	padding-left: 2%;
	width: 30%;
	display: inline-block;
}
.search{
	padding: 0.5%;
	width: 30%;
	color: #868686;
	border: none;
	font-size: 0.8em;
	font-family: Lato;
	font-weight: normal;
	background-color: #252525;
	display: inline-block;
	border-radius: 5px;
}
.search input{
	width: 95%;
	color: #868686;
	border: none;
	font-size: 1.2em;
	font-family: Lato;
	font-weight: normal;
	background-color: #252525;
}
.search img{
	vertical-align: middle;

}
.admin{
	width: 30%;
	display: inline-block;
	color: #FFFFFF;
	font-size: 0.8em;
	text-align: right;
	float:right;    
	margin-top: 1%;
}
.admin a{
	padding-right: 5%;
	border-right: 1px solid #868686;
	margin-right: 5%;
	color: #FFFFFF;
}
.side{
	background-color: #1C1C1C;
	color: #FFFFFF;
	width: 20%;
	min-height: 85vh;
	text-align: left;
	display: inline-block;
}
.menu{
	font-size: 1em;
	padding: 1%;
	padding-top: 4%;
	color: #868686;
	padding-bottom: 4%;
	border-bottom: 1px solid #252525;
    cursor: pointer;
}
.procat{
	margin-top: 0;
	color: #868686; 
	display: none;
}

.procatActive{
	margin-top: 0;
	color: #868686; 
	display: block;
}

.procat1{
	text-align: center;
	margin-top: 0;
	color: #868686; 

}
.pro{
	padding: 4%;
    padding-left: 15%;
}

.proActive{
	padding: 4%;
    padding-left: 15%;
	color: #F35950;
}

.pro:active, .pro:hover{
	color: #F35950;
}

.main{
	width: 100%;
	display: inline-flex;
}
a{
	text-decoration: none;
	color: #868686;
}
menu a:active{
	background-color: #F35950;
	color: #FFFFFF;
}
.menu:hover{
	background-color: #F35950;
	color: #FFFFFF;
}
.menu:active{
	background-color: #F35950;
	color: #FFFFFF;
}
.side img{
	padding: 0.5%;
	padding-left: 5%;
	padding-right: 3%;
	vertical-align: middle;
}
footer{
	background-color: #1C1C1C;
	width: 100%;
	color: #9C9C9C;
	font-size: 1em;
	padding: 0;
	
	display: inline-block;
}
.copy{
	width: 60%;
	display: inline-block;
	padding-left: 1%;
}
footer ul{
	display: inline-block;
	text-align: right;
	width: 32%;

}
footer li{
display: inline-block;
padding-left: 5%;
}
footer a{
	color: #9C9C9C;
	text-decoration: none;
}
footer a:hover {
	color: #FFFFFF;
}
.maincontainer1{
	display: inline-block;
	width: 80%;
	padding-bottom: 1%;
}
.maincontainer2{
	display: inline-block;
	width: 80%;
}
.maincontainer3{
	display: inline-block;
	width: 80%;
}
.maincontainer4{
	display: inline-block;
	width: 80%;
	display: none;	
}
.maincontainer5{
	display: inline-block;
	width: 80%;
}
.maincontainer6, .attr-container, .cat-container, .pro-container{
	display: block;
	width: 80%;
}
.product{
	    width: 47%;
    margin: 2%;
    margin-right: 0;
    margin-bottom: 1%;
    text-align: center;
    display: inline-block;
    box-shadow: 2px 2px 10px 5px #9C9C9C;
    font-size: 1em;
    color: #9C9C9C;
    padding-top: 5%;
    border-radius: 5px;

}
.heading{
	color: #111111;
	font-size: 2em;
	padding: 2%;
}
.add{
	display: inline-block;
	width: 45.6%;
	font-size: 1.2em;
	border-top: 1px solid #9C9C9C;
	border-right: 1px solid #9C9C9C;
	padding: 2%;
	margin: 0;
}
.view{
	display: inline-block;
	width: 45.6%;
	font-size: 1.2em;
	border-top: 1px solid #9C9C9C;
	padding: 2%;
	margin: 0;
}
.add:hover{
	background-color: #F35950;
	color: #FFFFFF;
}

.view:hover{
	background-color: #F35950;
	color: #FFFFFF;
}
.productitems{
	    width: 90%;
    height: 200px;
    margin: 2% auto;
    box-shadow: 2px 2px 10px 5px #9C9C9C;
    padding: 1%;
}
.products{
	display: inline-block;
font-size: 1.2em;
	padding: 1%;
	margin-left: 5%;
	margin-top: 2%;
}
.products1{
font-size: 1.2em;
	padding: 1%;
	margin-left: 2%;
	margin-top: 1%;

}
.addproduct{
	display: inline-block;
	width: 15%;
	font-size: 1.2em;
	padding: 0.5%;
	float: right;
	background-color: #F35950;
	color: #FFFFFF;
	margin-right: 4%;
	border-radius: 5px;
	margin-top: 2%;
	text-align: center;

}
.addproduct:hover{
	background-color: #F35950;
	color: #FFFFFF;
}
.closeicon{
	padding: 0.5%;
	float: right;
	clear: right;
}
.productimage{
	    border-right: 1px solid #9C9C9C;
    padding-right: 2%;
    float: left;
    clear: left;
    width: 350px;
    height: 200px;
}
.edit{
	display: inline-block;
	padding-right: 1%;
}
.viewproduct{
	display: inline-block;
padding-right: 1%;
}
.editview{
	text-align: right;
	display: inline-block;
	width: 28%;
}
.editview1{
	text-align: right;
	margin-top: 5%;

}

h2{
	display: inline-block;
	width: 70%;
	font-weight: normal;
	color: #111111;
	    margin-top: 0;
    margin-bottom: 0;
}
.productitems1{
	    width: 90%;
    margin: 2% auto;
    box-shadow: 2px 2px 10px 5px #9C9C9C;
    padding: 1%;
    border-radius: 5px;
}
.aboutproduct{
	display: inline-block;
	color: #111111;
     margin-left: 2%;
}
h6{
	font-size: 1em;
	color: #9C9C9C;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

h4{
	font-size: 1.5em;
	margin-bottom: 1%;
	font-weight: normal;
}

.headmenu{
	width: 100%;
	border-top: 1px solid #E1E1E1;

}
h3{
	padding: 1%;
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
	color: #111111;
	margin: 0.5%;
}
.m{
display: inline-block;
padding: 1%;
padding-right: 1%;
margin-left: 2%;
font-size: 1.2em;
}
.m:hover{
	color: #F35950;
	border-bottom: 5px solid #F35950;
}

.staticitem{
	width: 68%;
	display: inline-block;
	margin: 1%;
	font-size: 1.2em;
}
.input{
	width: 90%;
	font-size: 0.9em;
	font-family: Lato;
	margin: 1% auto;
	margin-left: 3%;
	border: none;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	padding: 1%;
	height: 25px;
}

.row input{
	height:35px;
	width:70%;
}

.row textarea{
	height:100px;
	width:70%;
}

.row select{
	height:50px;
	width:72%;
}

.row span{
    display: block;
    margin: 2% 0% 0% 3%;
}

.sub-input{
	font-size: 0.9em;
    font-family: Lato;
    margin: 1% auto;
    margin-left: 3%;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 1%;
    width: 15% !important;
}

.input1{

	min-height: 20vh;
	max-height: 30vh;
	overflow: scroll;
}
.formater{
	text-align: right;
	padding: 1%;
	margin-right: 5%;
}
.format1{
	display: inline-block;
	width: 30%;
	text-align: center;
	font-size: 0.6em;
	margin-right: 0;
}
select{
	background-color: #FFFFFF;
	display: inline-block;

}
.formatmenu {
    display: inline-block;
    width: 25%;
    border: 1px solid black;
	border-radius: 5px;

}
.menucategory{
	display: inline-block;
	width: 25%;
	margin-left: 3%;
}
.menustructure{
	display: inline-block;
	width: 65%;
	float: right;
	clear: right;
	border: 2px solid #E1E1E1;
	border-radius: 5px;

	margin-right: 2%;
	padding: 1%;
	padding-bottom: 2%;
	    margin-bottom: 2%;
}
.menustructure p{
	    font-size: 0.85em;
	    margin-left: 2%;
}
.menuitembox{
	width: 90%;
	text-align: center;
}
legend{
	font-size: 1.2em;
	padding: 0;
	background-color: #F35950; 
	padding-top: 4%;
	color: #FFFFFF;
	padding-bottom: 4%;
	width: 100%;
	text-align: center;
	margin-top: 5%;
}

.form1{
	padding-top: 5%;
	display: inline-block;
	text-align: left;
	border: 1px solid #E1E1E1;
	border-radius: 2.5px;
	width: 100%;
	font-size: 0.8em;
}

.cat-btn, #save-menu, .sub-btn{
	display: inline-block;
    width: 15% !important;
    font-size: 1em;
    padding: 0.5%;
    float: right;
    background-color: #F35950;
    color: #FFFFFF;
    margin-right: 4%;
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
}

#save-menu{
	margin: 0 auto;
    margin-top: 4%;
    display: block;
    float: initial;
    height: 50px;
}

input{
	width: 10%;
	height: 25px;
}

h5{
	color: #111111;
    font-size: 1.2em;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: normal;
    margin-left: 2%;
}
.selector{
	width: 100%;
    text-align: center;
	color: #1569B0;
	font-size: 0.9em;
}
.selector1{
	width: 97%;
	color: #1569B0;
	font-size: 1em;
	text-align: right;
}
.selector p{
	display: inline-block;
	    margin-left: 10%;
	   border: 1px solid #1569B0;
	border-radius: 2.5px;

	   padding: 1%;
}
.selector1 p{
	display: inline-block;
	margin-left: 5%;
    padding: 1%;
    font-size: 1em;
}
.selector a{
	color: #1569B0;
}
.selector a:hover{
	color: #F35950;
	background-color: #FFFFFF;
}
.selector1 a{
	color: #1569B0;
}
.selector1 a:hover{
	color: #F35950;
	background-color: #FFFFFF;
}
.itemtoadd{
	    width: 94%;
    display: inline-block;
    border: 2px solid #E1E1E1;
    border-radius: 2.5px;
    margin-left: 2%;
    margin-top: 3%;
    padding: 1%;
    margin-bottom: 1%;
}

.itemtoadd input{
	width: 93%;
	font-size: 1em;
	border: none;

}
textarea:focus, input:focus{
    outline: none;
}
#navbox{
	border: 2px solid #A6A6A6;
	border-radius: 2.5px;
margin-left: 2%;
	width: 92%;
	padding: 2%;
	display: none;
}

#navbox input{
	    width: 10%;
}
.menucategory form{
	display:none;
}
.inputattribute{
	margin: 1% auto;
	margin-left: 1%;
	width: 95%;
    font-size: 1em;
    border: none;
    border: 2px solid #E1E1E1;
    border-radius: 2.5px;
    padding: 1%;
}

.attr-dropdown{
	width: 97%;
    margin: 1% auto;
    margin-left: 1%;
    font-size: 1em;
    border-radius: 2.5px;
    border: 2px solid #E1E1E1;
    padding: .8%;
}

.label a{
	color: #F35950;
	margin-left: 1%;
}

#attributepop img{
	padding: 0.5%;
	vertical-align: middle;
    margin-top: -6px;
}
.block {
	width: 60%;
}
.block input{
	width: 60%;
	font-size: 1em;
    border: none;
    border: 2px solid #E1E1E1;
    border-radius: 2.5px;
    padding: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    height: 30px;
    margin-top:1%;
}

.categorydrop{
    width: 97.5%;
    border: none;
    border: 2px solid #E1E1E1;
    margin-left: 1%;
    font-size: 1em;
    height: 45px;
    border-radius: 2.5px;
    color: #9C9C9C;
}

.categorydrop2{
    width: 92%;
    border: none;
    border: 2px solid #E1E1E1;
    margin-left: 3%;
    font-size: 1.2em;
    height: 55px;
    border-radius: 2.5px;
    color: #9C9C9C;
    margin-top: 2%;
}

#save{
	text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    font-size: 1.2em;
	padding: 1%;
	background-color: #F35950;
	color: #FFFFFF;
	border-radius: 2.5px;
	display:block;
}

#save:hover{
	background-color: #F35950;
	color: #FFFFFF;
}

.activeMain{
	font-size: 1em;
	padding: 1%;
	padding-top: 4%;
	color: #FFFFFF;
	padding-bottom: 4%;
	border-bottom: 1px solid #252525;
	background-color:#F35950;
	cursor: pointer;
}

.activeSub{
	background-color:#F35950;
}

.selectcatogory{
        display: block;
    width: 100%;
    border: none;
    border: 2px solid #E1E1E1;
    border-radius: 2.5px;
    height: 45px;
    font-size: 1.2em;
}
 
 
 
 
/************New***********************************************/
 
 
.addpop {
	z-index: 100;
	background-color: #FFFFFF;
	position: fixed;
	width: 74%;
	top: 6%;
	left: 20%;
	min-height: 70vh;
	margin: 1% auto;
	box-shadow: 2px 2px 10px 5px #9C9C9C;
	border-radius: 5px;
	opacity: 1;
	min-height:600px;
}

.tabs {
	position: relative;   
	min-height: 450px; 
	clear: both;
	margin: 35px 0 25px;
	background: white;
}

.tab {
	display: inline-flex;
	margin-left: 20px;
}

.tab label {
	background: #eee; 
	border:none;
	margin-left: -1px; 
	position: relative;
	left: 1px; 
	top: -29px;
	-webkit-transition: background-color .17s linear;
	cursor: pointer;
}

.tab [type=radio] {
	display: none;   
}

.content {
	position: absolute;
	top: -1px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding: 20px;
	border: 1px solid #ccc; 
	-webkit-transition: opacity .6s linear;
	opacity: 0;
}

[type=radio]:checked ~ label {
	background: white;
	border: none;
	border-bottom: 1px solid #ff0000;
	height: 27px;
	z-index: 2;
	cursor: pointer;
}

[type=radio]:checked ~ label ~ .content {
	z-index: 1;
	opacity: 1;
}

.col-sm-6{
    width: 50%;
}

.row{
    display: inline-table;
    width: 48%;
}

.row-attr{
	width: 48%;
}

.input_edit{
    width: 86%;
    min-height: 7vh;
    margin-top:5px;
}

.input1_edit{
    width: 86%;
    min-height: 12vh;
    margin-top: 5px;
}

.name-form{
    width: 98.67%;
}

.describe-form{
    width: 98.67%;
}

.input_edit3{
    width: 85.89%;
    min-height: 7vh;
    margin-top: 5px;
}

.input_edit4{
    width: 30%;
    min-height: 6vh;
    margin-left: 5px;
}

.input_edit41{
    width: 30%;
    min-height: 6vh;
    margin-left: 0px;
}
 
.peidt{
    margin:0px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.onec6{
    padding-left: 30px;
}

.twoc6{
    padding-right: 30px;
}

.sub_edit{
    position: relative;
    top: 50px;
    left: 10px;
    width: 25%;
    height: 35px;
    padding: 10px;
    background-color: #F35950;
    border: none;
    border-radius: 5px;
    color: #FFF;
    margin: 0 auto;
    display: block;
    float: initial;
    cursor:pointer;
}

.dropdown ul{
    list-style: none;
    width: 95%;
}

.multisel{
    font-size: 1.5em;
}

#uploadPreview img{
	width: 200px;
	height: 150px;
}

.tabinput{
    width: 25%;
    height: 45px;
}

.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}

.custom-file-input::before {
	content: 'Add Images';
	display: inline-block;
	background: -webkit-linear-gradient(top, #FFFFFF, #e3e3e3);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 10pt;
}

.custom-file-input:hover::before {
	border-color: #F35950 ;
	color: #F35950;
}

.custom-file-input:active::before {
	background: -webkit-linear-gradient(top, #FFFFFF,#e3e3e3 );
}

.itemtoadd1 img{
	float: right;
	padding-right: 3%;
	cursor:pointer;
}

.block1 {
	display: block;
}
 
.remove1 {
	display: inline-block;
	cursor: pointer;
	text-decoration: underline;
}

.add1 {
	display: inline-block;
	cursor: pointer;
	text-decoration: underline;
}
 
.optionBox1 {
	display: inline-flex;
}
 
.editblock {
	border: 1px solid;
	width: 30%;
	position: relative;
	margin-right: 5px;
}
 
.remove1 {
	position: absolute;
	top: 0;
	right: 0;
}
 
.ed_in {
	width: 93%;
	display: inline-block;
	border: none;
}

.input_edit3{
	-moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
	border: 1px solid gray;
	font: medium -moz-fixed;
	font: -webkit-small-control;
	height: 28px;
	overflow: auto;
	padding: 2px;
	resize: both;
	width: 400px;
}

.hide{
	display: none;
}

.imgList{
	width: 100px;
    height: 100px;
}

.preview-box{
	display: inline-block;
	margin: 15px 15px 0px 0px;
}

.img-remove{
	float: right;
	margin-top: -20px;
}

.img-remove img{
	width: 15px;
}


.dialog-window {  
    width: 500px;  
    background:#fff;
    border: 1px solid #dadada;
    font-family:sans-serif;
    padding: 5px 10px 20px 20px;
    font-size:15px;    
    max-height: 400px;
    overflow: auto;
}

.dialog-window div {
	margin-top: 20px;
}
