@font-face {
    font-family: tw-cen-mt REGULAR;
    src: url(../font/ufonts.com_tw-cen-mt.woff);
}
@font-face{
	font-family: Sandhya;
	src: url(../font/Sandhya.woff);
	font-weight: normal;
}

body{
    width: 100%;
    margin:0 auto;
    font-size: 10px;
    }

    /* #######################################################################################################*/


.imageslider{
    text-align: center;
    padding-bottom: 5%;

}
.slider-nav_1:hover
{
    display: block!important;
}

.next:hover, .prev:hover{
  cursor: pointer;
  
}
.next{
   float: right;
   margin-top: -20%;
 }
.prev{
  float: left;
  margin-top: -20%;
}

.info{
    color: #b39d0d;
    font-family: tw-cen-mt REGULAR;
    font-size: 1em;
    border: 2px solid #b39d0d;
    border-top: 0px;
    margin-top: -5px;
    padding-top: 10%;
    height: 130px;
    position:relative;
}

.info div{
    color: #FFFFFF;
    background-color: #b39d0d;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.showimage {
    width: 20vw;
    display: inline-block;
    margin: 2%;
    
}
.showimage img{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    height:250px;
}

.showimage a {
    color: #FFFFFF;
}
 
/* --------------------------------------------------------------image slider client ------------------------------------------------------------------*/
.slider ul li{
  display: inline-block;
  padding-right: 5%;

}
.slider{
 margin: 5% auto;
}
.gallery_1
{
     width: 95%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    text-align: center;
    margin-bottom: 5%;
}
 
.slider_1
{
  margin-left: 4%;
    width:90%;
    height:100%;
  
}
.slider_1 ul
{
    width:10000px;
    list-style:none;
 
}
.slider_1 li
{
    float:left;
    padding: 0.5%;
    margin-left: 0;
}

.button{
   display: inline;
    position: relative;
   
}
.prev{
  float: left;
 clear: left;
  margin-top: 100px;
}
.next{
float: right;
clear: right;
margin-top: 100px;
}


.clearout {
	height:20px;
	clear:both;
}

#flexiselDemo3 {
	display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:80%;
    margin: auto;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
	overflow:hidden;
	width: 100%;
    margin-top: 5%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    padding-right: 2%;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 32px;
    height: 32px;
    margin-left: -60px;
    margin-right: -60px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../img/left-arrow.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../img/right-arrow.png) no-repeat;
}
/* ------------------------------------------------------------slider end -----------------------------------------------------------------------------------*/


.button{
   display: inline;
    position: relative;
}

/*#############################################################################################################################*/

.header{
    width: 33%;
    display: inline-block;
}
#page {
    max-width: 500px;
    padding: 1em;
}

.headermenu{
    background-image: url("../img/header.png");
    position: fixed;
    width: 100%;
    top: 0;
    vertical-align: middle;
    display: none;
    z-index: 1;
    color: #b39d0d;
    padding: 1%;
    display: none;
    font-size: 1.2em;
}

.headermenu div{
    display: inline-block;
    width: 32.5%;
}

.headermenu img{
    width: 5%;
    margin-right: 2%;
}

@media only screen and (max-width: 500px){
.headermenu img{
    width: 10%;
    margin-right: 2%;
}
}
.menuicon{
    text-align: left;
    padding: 1%;
}

#menu{
    padding: 1%;
}


.topcenter{
    clear: left;
    width: 100%;
    background-image: url("../img/1stbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin-bottom: 0;
    height: 100%;
}

.centerlogo{
    width: 30%;
    
}


.centerhead{
    width: 100%;
    height: 20%;
    position: absolute;
     padding-top: 2%;
}


.hding
{
font-family: tw-cen-mt REGULAR;
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 0.5em;
    text-align: center;
    margin-bottom: 0;
}
.scrolldown
{
    font-size: 1em;
    color: #FFFFFF; 
    text-align: center;
    letter-spacing: 0.4em;
    font-family: tw-cen-mt REGULAR;
    padding-bottom: 1%;
    margin-bottom: 0;
    margin-top: auto;
    }
    
#headerscroll {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    padding-bottom: 1%;
    text-align: center;
    font-family:  tw-cen-mt REGULAR;

}
.subhding {
    margin-top: 0;
    font-family: Sandhya;
    letter-spacing: 0.1em;
    font-size: 2.5em;
    color: #ceb306;
    text-align: center;
    padding-top: 0;
}
.divide{
    width: 90%;
    display: inline-block;
    padding: 1%;
    margin-bottom: 10%;
}
.divide p{
    text-align: justify;
    font-size: 1.2em;
}
.team{
    width: 90%;
    padding-top: 5%;
    margin-right: 5%;
    padding-left: 5%;
}
.about{
    margin-top: 5%;
    width: 90%;
    padding-left: 5%;
    margin-left: 5%;
}
.seperate{
    width: 100%;
    display: inline-block;
    padding: 1%;
padding-left: 2%;
}

.menutext{
    display: none;
    font-family: tw-cen-mt REGULAR; 
    font-size: 1.2em
}
#displaybox > a 
{
   
    font-size: 6vh;
    font-family: Sandhya;
    letter-spacing: 0.05em;
    color: #b39d0d;
    padding-top: 1vh;
}

.d{
    text-align: center;
    font-size: 2vh;
    font-family: tw-cen-mt REGULAR;
    padding: 0.4vh;
  
    letter-spacing: 0.2em;
}

.last{

    background-color: #F2EFD8;
    text-align: center;
    padding: 2%;

}
.last p{
    font-size: 5em;
    font-family: tw-cen-mt REGULAR;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #ccb312;
    width: 30%;
    margin: 0 auto;
}

.h{
    margin-top: 2%;
    font-size: 3.5em;
    font-family: Sandhya;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #ccb312;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    color: #ccb312;
}
.g{
    font-family: tw-cen-mt REGULAR;
    font-size: 0.5em;
    margin-left: 2%;

}
a{
    color: #ccb312;
    text-decoration: none;
}
.lastone{
    margin-top: 0;
    text-align: center;

}
.content-about {
    background-image: url('../img/about-mangus-bg.png');
   background-repeat:repeat;
   background-size: 100%;
}

.content-footer {
   clear:left;
    background-image: url('../img/2nd_bg.png');
    padding-right: 30px;
    text-align: center;
    background-size: 100% 100%;
     background-repeat: no-repeat;
}
.ab
{
    font-size: 3em;
    font-family: Sandhya;
    letter-spacing: 0.2em;
    color: #b39d0d;
    text-align: right;
}
.m
{
    font-size: 25px;
    color: #3b5393;
    font-family: tw-cen-mt REGULAR;
    text-align: right;
}
.footer-fi
{
    padding-top: 10%;
    margin-bottom: 0;
    font-size: 2em;
    padding-left: 10%;
    font-family: tw-cen-mt REGULAR;
    color: #fff;
    letter-spacing: 0.2em;
}

.footer-se
{    font-size: 4em;
    font-family: Sandhya;
    letter-spacing: 6px;
    color: #b39d0d;
    margin-top: -1%;
    margin-left: 5%;
}
.footer-p
{
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
    width: 100%;
    padding-bottom: 10%;
    font-family: tw-cen-mt REGULAR;

}

.content
{

    padding-left: 0px;
    padding-right: 0px;
}


.header-menu {
    float: left;
}
.header-menu span {
    display: inline;
}
.menu-item {
    float: left;
}
.content-footer {
    background-image: url('../img/2nd_bg.png');
    padding-right: 30px;
    text-align: center;
        background-size: 100% 100%;
  
     background-repeat: no-repeat;
}

.e {
    font-size: xx-large;
    color: #3257b7;
    font-family: Sandhya;
}
.edit
{
	margin-right: 0px;
	margin-left: 0px;
}
.last {
    background-color: #F0EBCD;
    text-align: center;
   
}
.last h2 >a {
        font-size: 36px;
    font-family: Sandhya;
    letter-spacing: 6px;
    color: #b39d0d;
}
.last h2 >a:hover {
        font-size: 36px;
    font-family: Sandhya;
    letter-spacing: 6px;
    color: #b39d0d;
    text-decoration: none;
}
.last h2 >a:focus {
        font-size: 36px;
    font-family: Sandhya;
    letter-spacing: 6px;
    color: #b39d0d;
    text-decoration: none;
}
.last h2 >a:active {
        font-size: 36px;
    font-family: Sandhya;
    letter-spacing: 6px;
    color: #b39d0d;
    text-decoration: none;
}
.last p >a 
{
         font-size: 16px;
    font-family: tw-cen-mt REGULAR;

    color: #b39d0d;
    text-decoration: none;   
}
.last p >a:hover 
{
         font-size: 16px;
    font-family: tw-cen-mt REGULAR;

    color: #b39d0d;
    text-decoration: none;   
}
.last p >a:active 
{
         font-size: 16px;
    font-family: tw-cen-mt REGULAR;
  
    color: #b39d0d;
    text-decoration: none;   
}
.last p >a:focus 
{
         font-size: 16px;
    font-family: tw-cen-mt REGULAR;

    color: #b39d0d;
    text-decoration: none;   
}
.line
{
   border-bottom: 1px solid #b39d0d;
    width: 25%;
    margin: 0 auto;
}
.e {
    font-size: 24px;
    color: inherit;
    margin-left: 10px;
    font-family: tw-cen-mt REGULAR;
}
.copyright p{
    font-size: 1.5em;
    text-align: center;
    color: #ccb312;
    padding: 1%;
}

#displaybox {
    z-index: 10000;
     background-image: url('../img/1stbg.png');
     background-size: 100% 100%;
     background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: right;
    vertical-align: middle;
    display: none;
    opacity: 0.95;
}
#displaybox img{
    width: 2%;
}

.box
{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: tw-cen-mt REGULAR;
}

.box:hover
{
    text-decoration: none;
}
p
{
	font-family: tw-cen-mt REGULAR;
	font-size: 1.2em;
	color:#a2a2a2;
	text-align: justify-all;
}

.ch-first
{
	font-size: 2em;
	font-family: Sandhya;
	color: #b39d0d;
	margin-top: 10%;
    margin-bottom: 1%;
	letter-spacing: 0.2em;
}
.ch-second
{
	font-size: 1.5em;
	font-family: tw-cen-mt REGULAR;
	color: #3b5393;
    letter-spacing: 0.2em;
    margin-top: 0;
    padding-top: 0;
}
.content-header
{
	text-align: center;
}




.fadetext
{
    font-size: 1.2em;
    font-family: tw-cen-mt REGULAR;
    opacity: 0.32;
    -moz-opacity: .68;
    color: #fff;
    letter-spacing: 0.5em;

}


.fi
{
    text-align: left;
    position: relative;
}
.se
{
    position: relative;
    /* text-align: right; */
}
.th
{
    text-align: left;
    position: relative;
}
.close{
    text-align: right;
}
#displaybox .close1 > a{
    color: #b39d0d;
    font-size: 2em;
    text-align: right;
    padding-right: 4%;
    padding-top: 2%;
}

    
#displaybox > a:hover 
{
    text-decoration:none;
    color: #b39d0d;
}
#displaybox > a:focus 
{
    text-decoration:none;
    color: #b39d0d;
}
#displaybox > a:active 
{
    text-decoration:none;
    color: #b39d0d;
}

.d a{
    color: #FFFFFF;
    text-decoration: none;
}
.d a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.d a:focus{
    color: #FFFFFF;
    text-decoration: none;
}
#displaybox img{
    padding: 2%;
}
.d p{
    padding: 0.1%;
}


.lastone1{
    font-family: tw-cen-mt REGULAR;

    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #b39d0d;
    border-bottom: 1px solid #b39d0d;
    padding: 1%;
}


.menu-box{
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
}
.center-menu{
    height: 50vh;
}


.page-scroll{
    margin-left: 20px;
}


/************************************************* Media Queries *******************************************************/

@media only screen and (max-width: 1500px){
	.box{
		margin-top: 15px;
	}
}

@media only screen and (min-width: 900px){
	
	.seperate{
		width: 47%;
		display: inline-block;
		padding: 1%;

	}
	.menutext{
		display: inline-block;
	}
	.team{
		width: 90%;
		padding-top: 25%;
		margin-right: 5%;
		padding-left: 5%;
	}
	.about{
		margin-top: 25%;
		width: 90%;
		padding-left: 5%;
		margin-left: 5%;
	}
	.showimage p{
		font-size: 1em;
	}
}

@media only screen and (min-width: 900px) and (max-height: 1000px){
	#displaybox > a 
	{
	   
		font-size: 7vh;
		font-family: Sandhya;
		letter-spacing: 0.05em;
		color: #b39d0d;
		padding-top: 1vh;
	}

	.d{
		text-align: center;
		font-size: 3vh;
		font-family: tw-cen-mt REGULAR;
		padding: 0.4vh;
	  
		letter-spacing: 0.2em;
	}
}

@media only screen and (min-width: 900px){

	body{
		width: 100%;
		font-size: 20px;
	}

	.centerlogo{
		padding-top: 2%;
		width: 30vh;
	}
	.subhding {
		font-family: Sandhya;
		letter-spacing: 0.2em;
		font-size: 6vh;
		color: #ceb306;
		text-align: center;
		}
	.scrolldown
	{
		font-size: 1.2em;
		color: #FFFFFF; 
		text-align: center
		letter-spacing: 0.6em;
		font-family: tw-cen-mt REGULAR;
		padding-bottom: 2vh;
	}
	.hding
	{
		font-size: 3vh;
		color: #FFFFFF;
		padding-top: 2vh;
	}

	#displaybox img{
		width: 1%;
	}
	p
	{
		font-family: tw-cen-mt REGULAR;
		font-size: 2em;
		color:#a2a2a2;
		text-align: justify-all;
	}


	.headermenu img{
		width: 4%;
	}

	.info{
		font-size: 1.5em;
	}
	.divide{
		width: 47%;
		display: inline-block;
		padding: 1%;
	}
	.divide p{
		text-align: justify;
		font-size: 1.2em;
	}
	.ch-first
	{
		font-size: 3em;
		font-family: Sandhya;
		color: #b39d0d;
		margin-top: 10%;
		letter-spacing: 0.2em;
	}
	.ch-second
	{
		font-size: 2em;
		font-family: tw-cen-mt REGULAR;
		color: #3b5393;
		letter-spacing: 0.5em;
		margin-top: 0;
		padding-top: 0;
	}

	.lastone1{
		text-align: center;
		width: 28%;
		margin: 0 auto;
		font-size: 1.2em;
		color: #b39d0d;
		border-bottom: 1px solid #b39d0d;
		padding: 1%;
	}
	.h{
		margin-top: 2%;
		font-size: 3.5em;
		font-family: Sandhya;
		letter-spacing: 0.1em;
		border-bottom: 1px solid #ccb312;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		font-weight: normal;
	}
	.copyright p{
		font-size: 1.2em;
		text-align: center;
		color: #ccb312;
		padding: 1%;
	}

}


@media only screen and (max-width: 400px){
	.h {
		margin-top: 2%;
		font-size: 2.5em;
		font-family: Sandhya;
		letter-spacing: 0.1em;
		border-bottom: 1px solid #ccb312;
		width: 61%;
		margin-left: auto;
		margin-right: auto;
		font-weight: normal;
	}
	.lastone1{
		text-align: center;
		width: 60%;
		margin: 0 auto;
		font-size: 1em;
		color: #b39d0d;
		border-bottom: 1px solid #b39d0d;
		padding: 1%;
	}
}

@media only screen and (min-width: 700px){
    .h {
		margin-top: 2%;
		font-size: 3.5em;
		font-family: Sandhya;
		letter-spacing: 0.1em;
		border-bottom: 1px solid #ccb312;
		width: 42%;
		margin-left: auto;
		margin-right: auto;
		font-weight: normal;
	}
	.lastone1{
		text-align: center;
		width: 40%;
		margin: 0 auto;
		font-size: 1.5em;
		color: #b39d0d;
		border-bottom: 1px solid #b39d0d;
		padding: 1%;
	}
}
@media only screen and (min-width: 900px) and (min-height: 1000px){
	#displaybox > a 
	{
		margin-top: 0;
		font-size: 3em;
		font-family: Sandhya;
		letter-spacing: 0.05em;
		color: #b39d0d;
		padding-bottom: 0;
	}
	.d{
		text-align: center;
		font-size: 1.2em;
		font-family: tw-cen-mt REGULAR;
		padding: 0.2vh;
		width: 60%;
		letter-spacing: 0.1em;
		margin: 0.5% auto;
	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  
  

}
