header{
    background-image: url("../img/header.png");
    position: fixed;
    width: 100%;
    top: 0;
    vertical-align: middle;
    z-index: 1;
}

header img{
    vertical-align: middle;
    text-align: left;
    padding: 1.2%;
    float: left;
    margin-top: 6px;
}

.hnote{
    vertical-align: middle;
    font-size: 1em;
    color: #ccb312;
    text-align: center;
    font-family: tw-cen-mt REGULAR;
    padding: 1.2%;
}

.box1{
 
    font-size: 2.5em;  
    display: block;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    font-family: Sandhya;
    letter-spacing: 0.1em;
}

img {
    vertical-align: middle;
}

h2{
    font-size: 2.2em;
    color: #ceb306;
    font-family: Sandhya;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 2%;
    font-weight: normal;
    margin-bottom: 0;
}

.top-logo{
	width:75px;
	margin-right:5px
}

.subheading {
    color: #3257b7;
    font-size: 1.2em;
    font-family: tw-cen-mt REGULAR;
    text-align: center;
    letter-spacing: 0.4em;
    margin-top: 0.5%;
    margin-bottom: 1%;
}


.demo, .mainview{
	position: relative;
	width: 1200px;
	height: 68vh;
  	margin: 0 auto;
	border: 2px solid #ccb312;
	text-align: center;
}

.demo li, .mainview img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position:0px;
}

.mainview img{
    width: 98%;
    height: 96%;
    padding: 1%;
}

.view-type{
    float: right;
    margin-right: 12%;
    margin-top: 1%;
}

.view-type a:hover { 
    text-decoration: underline;
}

.dimg {
    text-align: center;
    width: 100%;
    height: 4%;
    position: absolute;
    bottom: 0;
    padding-top: 0;
}

.views {
    font-family: tw-cen-mt REGULAR;
    font-size: 1.4em;
    color: #3257b7;
    letter-spacing: 0.2em;
    margin-top: 4%;
    padding: 1%;
    padding-left: 4%;
    display: inline-block;
}

.imagebox ul {
    padding: 2%;
    text-align: left;
    margin-left: 2%;
}

.imagebox ul li {
    list-style: none;
    border: 2px solid #ccb312;
    display: inline-block;
    width: 18%;
    margin: 0.3%;
    height: 200px;
}

.imagebox ul li img {
    padding: 2%;
    width: 95%;
    height: 188px;
}

.content-div{
	width: 100%;
	display:inline-flex;
}

.description {
    display: block;
    width: 60%;
}

.desc {
    font-family: tw-cen-mt REGULAR;
    font-size: 1.4em;
    color: #3257b7;
    letter-spacing: 0.2em;
    padding: 1%;
    padding-left: 3%;
    display: inline-block;
    margin-left: 4%;
    margin-top: 0;
}

.desccontent {
    font-family: tw-cen-mt REGULAR;
    font-size: 1.4em;
    color: #A7A9AC;
    width: 70%;
    padding-right: 3%;
    text-align: justify;
}

.scrollbar {
    width: 100%;
    max-height: 600px;
    background-color: #FDFBF2;
    overflow-y: scroll;
    margin-left: 7%;
}

#scroll::-webkit-scrollbar{
	width:20px;
	background-image: url('../img/1.png');
	background-size: 80%;
	height: 100px;
}

#scroll::-webkit-scrollbar-thumb{
	background-image: url('../img/slider-icon.png');
	background-repeat: no-repeat;
	background-position: center;
}

.features {
    display: block;
    width: 20%;
    margin-left: 12%;
}

.featurecontent {
    margin-top: 5%;
    font-family: Sandhya;
    font-size: 2em;
    color: #3257b7;
    letter-spacing: 0.1em;
}

.z {
    font-family: tw-cen-mt REGULAR;
    font-size: 1.2em;
    border-bottom: 1px solid #ccb312;
    color: #939798;
    margin-top: 10px;
    padding-bottom: 10px;
}

.y {
    font-size: 1.2em;
    margin-top: 0.5%;
    font-family: tw-cen-mt REGULAR;
    color: #939798;
}

.dmenu {
    background-color: #FCFCF4;
    padding-bottom: 5%;
}

footer {
    background-image: url("../img/header.png");
    height: 5%;
}

footer p {
    font-family: tw-cen-mt REGULAR;
    color: white;
    text-align: center;
    padding-top: 2%;
    font-size: 1.5em;
    margin-top: 0;
}
.mainview, .demo{
    width:100% !important ;
}
.demo{
    display: none;
}
.main-view-type{
    width: 90% ; 
    margin:0 auto;
    margin-top: 1%;
}
.demo1, .mainview1 {
  height: 76vh;
}
@media only screen and (max-width: 1600px){
.demo1, .mainview1,.mainview, .demo {
  height: 500px;
}
@media only screen and (max-width: 1200px){
.demo1, .mainview1,.mainview, .demo {
  height: 480px;
}
@media only screen and (max-width: 900px){
.demo1, .mainview1,.mainview, .demo {
  height: 400px;
}
@media only screen and (max-width: 600px){
.demo1, .mainview1,.mainview, .demo {
  height: 300px;
}
@media only screen and (max-width: 500px){
.demo1, .mainview1,.mainview, .demo {
  height: 250px;
}
@media only screen and (max-width: 400px){
.demo1, .mainview1,.mainview, .demo {
  height: 200px;
}