
@font-face {
	font-family: tw-cen-mt REGULAR;
	src: url(../font/ufonts.com_tw-cen-mt.woff);
}


@font-face{
	font-family: Sandhya;
	src: url(../font/Sandhya.woff);
	font-weight: normal;
}

body{
	width: 100%;
	margin:0 auto;
	font-size: 20px;
}
table
 {
    width: 80%;
    text-align: left;
    margin:4% auto;
	font-family:tw-cen-mt REGULAR;
	
}

table, th, td {
    border: 1px solid  #ccb312;
    border-collapse: collapse;
	padding:1%;
}

th {
       color: #3257b7;
    font-size: 1.8em;
    padding: 1%;
    margin: 1%;
    font-family: Sandhya;
    
    margin-top: 5%;
    letter-spacing: 0.1em;
    font-weight: normal;
	text-align: center;
}
.tr{
	width:30%;
}
.own{
	width:70%;
}

td{
color: #A7A9AC;
}

.trade-head {
     color: #3257b7;
    font-size: 2.5em;
    padding: 1%;
    margin: 1%;
    font-family:tw-cen-mt REGULAR;
    margin-top: 5%;
    letter-spacing: 0.1em;
    font-weight: normal;
}

.trade{
    font-size: 1.2em;
    padding: 1%;
    width: 95%;
    margin: 1% auto;
	color: #A7A9AC;
    line-height: 1.3em;
	font-family:tw-cen-mt REGULAR;
}

header{
    background-image: url("../img/header.png");
    position: fixed;
    width: 100%;
    top: 0;
    vertical-align: middle;
    z-index: 1;
}

header img{
    vertical-align: middle;
    text-align: left;
    padding: 1%;
    padding-right: 0.5%; 
    float: left;
    color: #ccb312;
    font-family: tw-cen-mt REGULAR;
}
header span{
    vertical-align: middle;
    text-align: left;
    padding-top: 0.8%;
    float: left;
    color: #ccb312;
    font-family: tw-cen-mt REGULAR;
    cursor: pointer;
}

.hnote{
    vertical-align: middle;
    font-size: 1em;
    color: #ccb312;
    text-align: center;
    font-family: tw-cen-mt REGULAR;
    padding: 1.2%;
}

.box1{
 
    font-size: 2.5em;  
    display: block;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    font-family: Sandhya;
    letter-spacing: 0.1em;
}

img {
    vertical-align: middle;
}

@media only screen and (max-width:1000px){
body {
    font-size: 14px;
}
}

@media only screen and (max-width:500px){
body {
    font-size: 17px;
}
table{
	width:90%;
	margin:4% auto;

	}
.trade-head {
    font-size: 1.4em;
    margin-top: 10%;
}
.trade {
    font-size: 0.8em;
}
th {
    font-size: 1.2em;
}
td {
    color: #A7A9AC;
    font-size: 0.7em;
}

}















